body{
    background-color: #002147;
}

h1{
    color: #FF2400;
    text-align: center;
}
h2{
    background-color: white;

}
.titulo { 
    background-size: 100%;
    background-clip: text;
    font-size: 40px; 
    font-weight: bold;
    background: linear-gradient( 40deg , #1100fd, #ff0000);
        -webkit-background-clip: text; color: transparent;
    
    }
li{
    font-size: 20px;
}
p.data{
    font-size: 20px;

}



img{
    width: 100px;
    height: 100%;
    border-radius: 10px;
    border: 0.99px solid rgb(255, 0, 0);
}